.git
.gitignore
.idea
**/.idea/
.vscode
**/.vscode/
*.iml
*.ipr
*.iws
.settings
**/.settings/
.project
**/.project
.classpath
**/.classpath

target
**/target/
*.class
**/*.class
*.jar
**/*.jar
*.war
**/*.war

*.log
**/*.log
*.log.gz
**/*.log.gz
logs
**/logs/

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

*.tmp
**/*.tmp
*.swp
**/*.swp
*~
**/*~
.cache
**/.cache/
.DS_Store
**/.DS_Store

**/docs/
**/deploy/
**/*.md
**/uploads/

docker-compose/*
!docker-compose/Healthcheck.java
