 target/
 *.class
 *.jar
 *.war
 *.log
 *.iml
 .idea/
 .vscode/
 *.iml
 *.ipr
 *.iws
 .settings/
 .project
 .classpath
 .DS_Store
 */target/
 */.settings/
 */.project
 */.classpath
 *.log.gz
 logs/
 */logs/
 docker-compose/data/
 *.mvn
